# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Raycast / Node
node_modules/
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo

# Project Specific
# Ignore local data if user configures storage to be inside the repo
data/
*.jsonl
